Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ol>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li>
    <a href="{{ '/example-page' | relative_url }}">Getting Started</a>
    <ul>
      <li><a href="{{ '/example-page' | relative_url }}">For Players</a></li>
      <li><a href="{{ '/example-page' | relative_url }}">For Server Owners</a></li>
      <li><a href="{{ '/example-page' | relative_url }}">For Developers</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ '/Developers/development-home' | relative_url }}">Development</a>
    <ul>
      <li><a href="{{ '/example-page' | relative_url }}">Changelog</a></li>
      <li><a href="{{ '/example-page' | relative_url }}">Features</a></li>
      <li><a href="{{ '/example-page' | relative_url }}">Functions</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ '/example-page' | relative_url }}">Community</a>
    <ul>
      <li><a href="{{ '/example-page' | relative_url }}">Server List</a></li>
      <li><a href="{{ '/example-page' | relative_url }}">Discord</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ '/example-page' | relative_url }}">Credits</a>
  </li>
  <li>
    <a href="{{ '/example-page' | relative_url }}">Support</a>
    <ul>
      <li><a href="{{ '/example-page' | relative_url }}">Bug Reporting</a></li>
      <li><a href="{{ '/example-page' | relative_url }}">Feature Requesting</a></li>
      <li><a href="{{ '/example-page' | relative_url }}">FAQ</a></li>
    </ul>
  </li>
</ol>